<footer class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <p class="text-light">Created by <a href="https://github.com/leehaney254" class="link-success">Leehaney</a></p>
  </div>
</footer>